<div class = 'button-single'>
  <%= button_to "Back to Home Page", users_path, method: "get", class: "back-button" %>
</div>

<h2>Log in</h2>

<%= form_for @user, url: session_path do |f| %>
  <%= f.text_field :username, placeholder: 'Username' %>
  <%= f.password_field :password, placeholder: 'Password' %>

  <%= f.submit 'Log in' %>
<% end %>
