<h2>Update This Word</h2>

<%= form_for @word do |f| %>
    <%= label_tag :spell %>

    <b><%= @word.spell %></b>
    <br>
    <p><%= @word.part_of_speech %></p>
    <br>
    <%= label_tag :definition %>
    <br>
    <%= f.text_area :definition, placeholder: 'Definition' %>
    <br>
    <%= submit_tag 'Update' %>
<% end %>