<h4><%= @word.spell %></h4>
<b><%= "<#{@word.part_of_speech}>" %></b><br>
<p>
    <%= @word.definition %>
</p>
<%= button_to 'Delete Word', word_path(@word), method: :delete %>
<br>
<%= button_to 'Customize It', edit_word_path(@word), method: :get %>