<!DOCTYPE html>
<html>
  <head>
    <title>DictionaryApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="notice">
      <%= flash[:notice] %>
    </div>
    <div class="error">
      <%= flash[:error] %>
    </div>

    <div class = 'container'>
      <div class = 'button-list'>
        <% if current_user %>
          <%= button_to 'Log out', session_path, method: :delete %>
        <% else %>
          <%= button_to 'Log in', new_session_path, method: "get" %>
          <%= button_to 'Register', new_user_path, method: "get" %>
        <% end %>
      </div>
      <div class = 'app-box'>
        <%= yield %>
      </div>
    </div>
    <footer>
      Site by Mark Zheng Ma. Dictionary powered by <b><i>Pearson Dictionary</i></b>.
    </footer>
  </body>
</html>
